<div class="container">
    <form action="" (ngSubmit)="addTransaction()" class="form-control p-5" [formGroup]="transactionForm">
        <div class="text-center mb-2">
            <span class="h3 fw-bold"[hidden]="isEdit">Add Expense or Income</span>
            <span class="h3 fw-bold" [hidden]="!isEdit">Update Expense or Income</span>
        </div>
        <div class="mb-3">
            <label for="">enter transaction title</label>
            <input type="text" placeholder="enter title" class="form-control" formControlName="title">
        </div>
        <div class="mb-3">
            <label for="">Select Transaction Type</label>
            <select name="" id="" class="form-control form-select" formControlName="type">
                <option value="expenses">expenses</option>
                <option value="income">income</option>
            </select>
        </div> 
        <div class="mb-3">
            <label for="">Select Category </label>
            <select name="" id="" class="form-control form-select" formControlName="category">
               <option value="{{cat}}" *ngFor="let cat of categories">{{cat}}</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="">Enter amount</label>
            <input type="text" placeholder="enter amount" class="form-control" formControlName="amount">
        </div>
        <div class="mb-3">
            <label for="">Enter User</label>
            <input type="text" placeholder="enter user" class="form-control" formControlName="user">
        </div>
        <div class="mb-3">
            <button class="btn btn-success" type="submit" [hidden]="isEdit">Add</button>
            <button class="btn btn-warning" [hidden]="!isEdit">Edit</button>
        </div>
    </form>
</div>